<table>
<tr style="background:transparent">
 <td><font size="7" face="serif"><b>Курс анализа данных на Python</b></font></td>   
 <td><img src="Image_sixth_lecture/Unknown.png" alt="Змейка" width="200" height="100"></td>
</tr>
</table>

<img src="Image_sixth_lecture/pandas_finally.jpg" alt="Гарри" width="500">

<center><font size="6" face="serif"><b>Библиотека Pandas для работы с данными</b></font></center>

## Навигация

[Вводные слова о Pandas](#introduction)

[Основные способы создания DataFrame (таблицы)](#dataframe)

### Вводные слова о Pandas <a class="anchor" id="introduction"></a>

**Pandas** - это библиотека, содержащая высокоуровневые структуры данных и инструменты для анализа данных. Так себе определение, если честно... **Pandas** - это библиотека для работы с данными, в частности - это в основном работа с табличными данными. С помощью этой библиотеки вы можете осуществлять наверное практически (по-любому что-то нельзя, но я не в курсе) любые операции с табличными данными, включая их простую визуализацию (хотя для полноценной визуализации лучше использовать другие библиотеки).

**Pandas** является надстройкой над библиотекой **NumPy**, именно поэтому важно знать основную структуру и операции, доступные в **NumPy**.

В **Pandas** имеются две основные структуры данных - это объекты **Series** (для одномерного случая, считайте отдельные колонки) и DataFrame (для двухмерного случая, счтайте таблицы). Вообще имеется еще объект **Panel** (для трехмерного случая), а еще многомерные объекты, но это просто для вашей эрудици =)

Импортирование библиотеки осуществляется с помощью давно принятого в обществе префикса **pd** (не раскачивайте лодку, используя другие префиксы!!!)

In [1]:
import pandas as pd

Рассмотрим в качестве введения объекты класса **Series**, которые являются одномерными массивами индексированных данных. На самом деле можно считать, что **Series** - это сплав **NumPy** массива (**ndarray**) и питоновского словаря (**dict**). Почему? Потому что они ведут себя, как NumPy массивы, однако индексируются не только неявно с помощью индексации от нуля (первый элемент) и дальше, а индексируются с помощью произвольных ключей ОДНОГО типа.

При создании объекта **Series** можно не указывать индексы, тогда они представляют из себя привычные для массивов целые числа, начинающиеся с нуля (первый элемент).

In [41]:
ser = pd.Series([1, 2, 3, 4, 5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

Как видно, данный объект имеет индексы, значения и тип значений. Чтобы получить отдельно значения или индексы нужно воспользоваться соответстенно атрибутами **values** и **index**.

In [14]:
print(ser.values)
print(type(ser.values))

[1 2 3 4 5]
<class 'numpy.ndarray'>

Полученный массив значений является уже непосредственно NumPy массивом, с которыми вы уже встречались.

В свою очередь атрибут **index** возвращает специальный numpy-подобный объект еще одного основополагающего класса **Index**.

In [17]:
ser.index

RangeIndex(start=0, stop=5, step=1)

При создании объекта **Series** можно вручную указывать список индексов.

In [19]:
ser = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
ser.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

В случае индексов работает такая же логика, как и с ключами словарей. К примеру, ключом может являться неизменяемый кортеж.

In [49]:
ser = pd.Series([1, 2, 3, 4, 5], index=[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])
ser

(a, 1)    1
(b, 2)    2
(c, 3)    3
(d, 4)    4
(e, 5)    5
dtype: int64

In [50]:
ser.index

Index([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)], dtype='object')

Логика обращения к элементам **Series** и взятия срезов довольно запутанная. К элементам можно обращаться, как к элементам словарям или же как к элементам массива. Однако, иногда эта логика абсолютно непрозрачная. В дальнейшем мы рассмотрим методы обращения к элементам на примере таблиц, которые не будут запутывать. Сейчас здесь будет продемонстрированы примеры неочевидного обращения к элементам **Series**. **НЕ ЗАПОМИНАЙТЕ ИХ**, просто убедитесь, что лучше так не делать.

In [51]:
ser

(a, 1)    1
(b, 2)    2
(c, 3)    3
(d, 4)    4
(e, 5)    5
dtype: int64

In [52]:
print(ser[0])
print(ser[-1])
print(ser[1:3])

1
5
(b, 2)    2
(c, 3)    3
dtype: int64

In [53]:
print(ser[('d', 4)])

4

Также есть возможность использовать смешенную логику массива и словаря в плане взятия срезов.

In [54]:
print(ser[('a', 1):('d', 4)])

(a, 1)    1
(b, 2)    2
(c, 3)    3
(d, 4)    4
dtype: int64

<div class="alert alert-block alert-danger">
<b>АЛАРМ:</b> Обратите внимание, что здесь последний элемент включается, в отличии от срезов по индексам обычно списка/массива.
</div>

А что если сделать такие индексы.

In [56]:
ser = pd.Series([1, 2, 3, 4, 5], index=[1, 2, 3, 4, 5])
ser

1    1
2    2
3    3
4    4
5    5
dtype: int64

Обращаться неявно к элементам массива через индексацию, начинающуюся с нуля уже нельзя

In [58]:
ser[0]

KeyError: 0

Надеюсь вы убедились, что в таком виде запомнить индексацию без последующих путанниц, довольно сложно. Теперь можете забыть все это, как страшный сон.

Напоследок рассмотрим еще один способ создания объекта **Series**. Как уже было сказано, данный объект - это смесь массива и словаря. Поэтому создавать объекты данного типа можно и с помощью обычного словаря.

In [60]:
d = {'a': 10, 'b': 20, 'c': 30}

ser = pd.Series(d)
ser

a    10
b    20
c    30
dtype: int64

С помощью списков словарей также можно создать объект класса **DataFrame** (двухмерный массив, читай табличка). Такой способ создания может пригодиться для быстрого создания тестовой таблички для проверки какой-либо операции над ней.

In [63]:
d = {'a': 10, 'b': 20, 'c': 30}
e = {'a': 40, 'b': 50, 'c': 60}

df = pd.DataFrame([d, e], index=['ind_1', 'ind_2'])
df

        a   b   c
ind_1  10  20  30
ind_2  40  50  60

### Основные способы создания DataFrame (таблицы) <a class="anchor" id="dataframe"></a>

Естественно, что обычно датафреймы создаются на основе данных из других источников, а не создаются с нуля в питоне. Pandas поддерживат чтение/запись из/в большого/ое кол-во источников. Чтобы посмотреть весь список напишите pd.read (или data.to, где data - уже конкретный датафреим) и нажмите TAB.

#### CSV

In [64]:
data = pd.read_csv('Materials_sixth_lecture/Automobile_data.csv')

In [93]:
data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

В первую очередь после создания датафреима, нужно взглянуть на то, что получилось. Для понимания структуры таблицы, такого большого формата данных, как в примере выше, слишком много. Для быстрого взгляда на структуру таблицы, можно использовать два метода - **data.head()** и **data.tail()**. Методы показывают 5 строк с начала и конца соответственно. Если необходимо просмотреть другое кол-во строк, их кол-во необходимо передать в скобки.

In [94]:
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [95]:
data.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [101]:
data.head(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

Другим полезным методом, позволяющим получить информацию о таблице, служит метод (кто бы мог подумать) **data.info()**. Метод показывает кол-во колонок, строк, тип данных каждой колонки, сколько пропущенных элементов в каждой колонке и сколько места в памяти занимает таблица.

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
index               61 non-null int64
company             61 non-null object
body-style          61 non-null object
wheel-base          61 non-null float64
length              61 non-null float64
engine-type         61 non-null object
num-of-cylinders    61 non-null object
horsepower          61 non-null int64
average-mileage     61 non-null int64
price               58 non-null float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.8+ KB

In [87]:
pd.reset_option('display.max_rows')

In [84]:
pd.set_option('display.max_rows', None)

In [89]:
pd.get_option('display.max_rows')

60

In [90]:
pd.get_option('precision')

6

In [ ]:
data.to